	/* Formato general */
	@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
body{
	background-image: url("https://i.ibb.co/VqHpMPG/background.png");
	 /* Set a specific height */
	 min-height: 620px; 
  
	 /* Create the parallax scrolling effect */
	 background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
}
p{
	font-family: 'Cinzel', serif;
	font-weight: bold;
	font-size: 12px;
}
h1{
	font-family: 'Cinzel', serif;
	font-size:140%;

}
h2{
	font-family: 'Cinzel', serif;
	

}
a{
	color: rgb(8, 8, 44);
	font-family: 'Cinzel', serif;
	font-weight: bold;

}
h6{
	font-family: 'Cinzel', serif;
	font-weight: bold;

}
h3{
	font-family: 'Cinzel', serif;
	font-weight: bold;


}

#logo h1{
	text-align: center;
	padding: 4% 0%;
	font-family: 'Cinzel', serif;
}
h5{
	font-family: 'Cinzel', serif;
}

.navbar{
background-color: #0dc143;
}

#root{
	margin: 1% 2%;
}

.welcome-text{
	margin: 5% 15%;
	background-color: #0dc143;
	border-radius: 5%;
	padding: 2% 5%;
}
	

	/* Botones para compartir a redes sociales */
.shared-panel{
	overflow: auto;
}
.shared-panel span{
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
}
.shared {
	display: inline-block;
	width: 30px; 
	height: 30px;
	margin: 5px 0; 
	padding: 0; 
        /* Recurso incluido en la descarga del ejemplo */
	background: url("shared.png") no-repeat; 
	margin-right: 5px; 
	cursor: pointer;
	border-radius: 50%;
}
.shared:hover{
	opacity: 0.7;
}
.shared.gp {background-position: 0px 0px; background-color: #E62B34;}
.shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
.shared.ce {background-position: 0px -60px; background-color: #8A898D;}
.shared.wa {background-position: 0px -90px; background-color: #0dc143;}
.shared.fb {background-position: 0px -120px; background-color: #6081C4;}

.st2{
   border-radius: 0;
}
.st3{
   border-radius: 5px;
}
.poster{
background-size: cover;	
}
/* FanArt screen */

.img-fluid{ 
	max-width: 100%;

margin-top: 5%;


	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar{

	background-color: #81C826;
	}
	
	#root{
		margin: 1% 2%;
	}
	
	.welcome-text{
		margin: 5% 15%;
		background-color:  #81C826;
		border-radius: 5%;
		padding: 2% 5%;
	}
	/* FanArt screen */

