	/* Formato general */

#logo h1{
	text-align: center;
	padding: 4% 0%;
	font-family: 'Kaushan Script', cursive;
	font-size: 300%;
}

.navbar{
background-color: #0dc143;
}

#root{
	margin: 1% 2%;
}

.welcome-text{
	margin: 5% 15%;
	background-color: #0dc143;
	border-radius: 5%;
	padding: 2% 5%;
	font-family: Times New Roman;
	font-size: 20px;
	background-color: linear-gradient(180deg, #37C206 0%, rgba(255, 255, 255, 0) 100%);
}
	

	/* Botones para compartir a redes sociales */
.shared-panel{
	overflow: auto;
}
.shared-panel span{
	margin: 10px 0;
	font-size: 16px;
	font-weight: 600;
}
.shared {
	display: inline-block;
	width: 30px; 
	height: 30px;
	margin: 5px 0; 
	padding: 0; 
        /* Recurso incluido en la descarga del ejemplo */
	background: url("shared.png") no-repeat; 
	margin-right: 5px; 
	cursor: pointer;
	border-radius: 50%;
}
.shared:hover{
	opacity: 0.7;
}

.shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
.shared.ce {background-position: 0px -60px; background-color: #8A898D;}
.shared.fb {background-position: 0px -120px; background-color: #6081C4;}

.st2{
   border-radius: 0;
}
.st3{
   border-radius: 5px;
}